/* * for variables */

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
    /* * BG */
    /* --primary-bg: linear-gradient(#1d2671,#c33764); */
    --primary-bg: linear-gradient(#283c86,#45a247);
    

    /* * COLORS */
    --primary-color : aliceblue;

    /* * FONTS */
    --primary-font : "montserrat" ;

    /* * PADDINGS */
    --padding-xl : 3rem ;
    --padding-l : 2rem ;
    --padding-m : 1rem ;
    --padding-s : .5rem ;

    /* * MARGIN */
    --margin-xl : 3rem ;
    --margin-l : 2rem ;
    --margin-m : 1rem ;
    --margin-s : .5rem ;

    /* * FONTS-SIZE */
    --font-xl : 3rem ;
    --font-l : 2rem ;
    --font-m : 1rem ;
    --font-s : .5rem ;
}